.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid-container {
  display: grid;
  grid-template-columns: 15% auto auto;
  grid-gap: 10px;
  background-color: #FFFFFA;
}

.head {
  grid-column: 1 /span 3;
  grid-row: 1;
}
.form {
  grid-row: 2 / span 3;
  background-color: #44A1A0;
}
.body {
  grid-column: 2 / span 3;
  grid-row: 2/ span 3;
}



